<div class='post-container mx-60 my-4 border-2'>
  <h2 class='px-4 py-2 text-2xl'>
    {{title}}
    <span class='text-base'>Posted by {{user.username}} on 17/13/2023</span>
  </h2>
  <div>
    <p class='mx-12 my-4 text-xl'>
      {{content}}
    </p>
  </div>
</div>