<nav>
  <ul class='mx-20 my-4'>
    <li class='text-5xl text-left'>TECH BLOG</li>
    <li><a href='/'>home</a></li>
    <li><a href='/dashboard'>dashboard</a></li>
    <li><a href='/login'>login</a></li>
    <li><a href='/signIn'>Sign In</a></li>
  </ul>
</nav>