:root {
  --color-one: #61892f;
  --color-two: #86c232;
  --color-three: #222629;
  --color-four: #474b4f;
  --color-five: #6b6e70;
}

body {
  background-color: var(--color-three);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a,
#logout {
  color: var(--color-five);
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover,
#logout:hover {
  color: var(--color-two);
}

#blogName {
  color: var(--color-two);
}

h1 {
  color: white;
  font-size: 35px;
}

li {
  color: var(--color-two);
  font-size: 30px;
}

.post-container,
#new-post {
  border-color: var(--color-one);
}

h4 {
  color: var(--color-two);
}

h2,
time {
  color: white;
}
p {
  color: var(--color-five);
}

#newPostFormBtn {
  border-color: var(--color-two);
  background-color: var(--color-two);
  color: white;
}

form {
  border-color: #61892f;
  background-color: white;
  margin: 0 auto;
  width: 30%;
}

#newPostForm,
#delete-update-post {
  background-color: #222629;
}

textarea {
  background-color: var(--color-five);
}

input {
  background-color: var(--color-five);
  opacity: 0.4;
}
input::placeholder {
  color: black;
}

.form-btn {
  background-color: var(--color-two);
  color: white;
}

#signUp {
  color: var(--color-one);
}
