<form
  id='login-form'
  method='post'
  class='grid place-content-center py-64 rounded'
>
  <h3 class='text-center text-3xl pb-6'>Login</h3>
  <input
    type='text'
    id='email-login'
    name='email-login'
    required
    placeholder='👤 email'
    class='w-96 px-2 py-2 mb-2 rounded text-xl'
  />
  <input
    type='password'
    id='password-login'
    name='password-login'
    required
    placeholder='🔒 password'
    class='w-96 px-2 py-2 rounded text-xl'
  />
  <br />
  <button
    type='submit'
    class='bg-lime-400 text-slate-50 w-96 px-2 py-2 rounded text-xl'
  >
    Log in
  </button>
  <h4>Don't have an account?<a href='/signIn' id='signIn'> Sign up</a></h4>
</form>