<form
  id='signUp-form'
  method='post'
  class='grid place-content-center py-64 rounded'
>
  <h3 class='text-center text-3xl pb-6'>Sign up</h3>
  <input
    type='text'
    id='username'
    name='username'
    required
    placeholder='👤 username'
    class='w-96 px-2 py-2 mb-2 rounded'
  />
  <input
    type='email'
    id='email'
    name='email'
    required
    placeholder='✉ email'
    class='w-96 px-2 py-2 mb-2 rounded'
  />
  <input
    type='password'
    id='password'
    name='password'
    required
    placeholder='🔒 password'
    class='w-96 px-2 py-2 mb-2 rounded'
  />
  <br />
  <button type='submit' class='form-btn w-96 px-2 py-2 rounded'>
    Sign up
  </button>
  <h4>Have an account? <a href='#' id='signUp'> Log in</a></h4>
</form>