
<h2 class='text-center text-5xl py-10'>Welcome to our tech blog, 💻<br><span class='text-center text-2xl py-10'>where we bring you the latest news and insights on all things tech.</span></h2>
{{#each posts as |post|}}
{{> cardPost}}
{{/each}}